<h2 class="font-secondary text-5xl font-bold mb-8">Client Sign up</h2>
<div class="w-full">
	<label for="musician-dj" class="mb-2">Are you a musician or DJ?</label>
	<input type="text" id="musician-dj" name="musician-dj" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter musician or DJ" required>
</div>
<div class="w-full">
	<label for="name" class="mb-2">Full Name</label>
	<input type="text" id="name" name="name" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your name" required>
</div>
<label for="address" class="mb-2">Full Address</label>
<textarea id="address" name="address" class="w-full border border-dark-200 rounded p-2 mb-4" rows="4" placeholder="Enter your address"></textarea>

<div class="w-full">
	<label for="email" class="mb-2">Email Address</label>
	<input type="email" id="email" name="email" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your email" required>
</div>
<div class="w-full">
	<label for="mobile-number" class="mb-2">Mobile number</label>
	<input type="tel" id="phone" name="mobile-number" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your phone number">
</div>
<div class="w-full">
	<label for="dob" class="mb-2">Date of Birth</label>
	<input type="date" id="dob" name="dob" class="w-full border border-dark-200 rounded p-2 mb-4" required>
</div>

<div class="w-full">
	<div class="w-full">
		<label for="photo-upload" class="mb-2">Upload Your Photo</label>
		<input type="file" id="photo-upload" name="photo-upload" class="w-full border border-dark-200 rounded p-2 mb-4" accept="image/*">
	</div>
</div>


<div class="w-full">
	<label for="website" class="mb-2">Website</label>
	<input type="url" id="website" name="website" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your website">
</div>
<div class="w-full">
	<label for="facebook" class="mb-2">Facebook</label>
	<input type="text" id="facebook" name="facebook" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your Facebook profile">
</div>
<div class="w-full">
	<label for="instagram" class="mb-2">Instagram</label>
	<input type="text" id="instagram" name="instagram" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your Instagram profile">
</div>
<div class="w-full">
	<label for="youtube" class="mb-2">YouTube</label>
	<input type="text" id="youtube" name="youtube" class="w-full border border-dark-200 rounded p-2 mb-4" placeholder="Enter your YouTube channel">
</div>

<div class="w-full">
	<label for="current-play" class="mb-2">Where do you currently play?</label>
	<textarea id="current-play" name="current-play" class="w-full border border-dark-200 rounded p-2 mb-4" rows="4" placeholder="Describe where you currently play"></textarea>
</div>
<div class="w-full">
	<label for="equipment" class="mb-2">What PA and equipment do you have?</label>
	<textarea id="equipment" name="equipment" class="w-full border border-dark-200 rounded p-2 mb-4" rows="4" placeholder="Describe your PA and equipment"></textarea>
</div>


<div class="w-full">
	<label for="dj-info" class="mb-2">DJs tell us:</label>
	<textarea id="dj-info" name="dj-info" class="w-full border border-dark-200 rounded p-2 mb-4" rows="4" placeholder="Your musical style and top 10 tracks you play. Please give us as much information about your act as you believe is relevant."></textarea>
</div>
<div class="w-full">
	<label for="musician-info" class="mb-2">Musicians tell us:</label>
	<textarea id="musician-info" name="musician-info" class="w-full border border-dark-200 rounded p-2 mb-4" rows="4" placeholder="Your instrument, line up (solo, duo, trio, band, etc), style of music, please give us as much information about your act as you believe is relevant."></textarea>
</div>

<button type="submit" class=" bg-black text-white hover:bg-opacity-80 border-2 border-black font-primary font-medium py-3 px-4 transition duration-300 ease-in-out flex gap-6 items-center">
	<span class="text-white">Submit</span>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="h-6 w-6 fill-white"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M352 128c0-17.7-14.3-32-32-32L96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32l146.7 0L41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L288 205.3 288 352c0 17.7 14.3 32 32 32s32-14.3 32-32l0-224z"/></svg>
</button>
