@import "tailwindcss/base";
@import "tailwindcss/components";
@import "theme";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&display=swap");

$fontPrimary: "Inter", sans-serif;
$fontSecondary: "Koulen", sans-serif;

body.admin-bar {
  max-height: calc(100vh - 32px);
  font-family: "Inter", sans-serif;
}

.no-move {
  @apply h-full w-full overflow-hidden;
}

.content-page,
.wp-block-post-content {
  * {
    @apply mb-4;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }
}

.wrapped-content {
  @apply container mx-auto mb-10;

  p {
    @apply text-2xl;
    * {
      @apply text-2xl;
    }

    a {
      @apply text-blue-500 underline;
      &:hover {
        @apply text-blue-700;
      }
    }

    & + p {
      @apply mt-4;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary;
  }

  h2 {
    @apply text-6xl font-secondary mt-6 mb-2;

    * {
      @apply text-6xl font-bold font-secondary;
    }
  }

  ul,
  ol {
    @apply list-disc list-inside pl-4 my-4;
    li {
      @apply text-2xl mb-2;
    }
  }
}

* {
  @apply font-primary font-light text-black;
}

.container {
  @apply max-w-7xl px-4 xl:px-0;
}

section {
  &:not([data-block="intro-text"]) {
    @apply pb-10 border-b border-gray-200;
  }
}

.footer-cta {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 27.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2807 1604" style="enable-background:new 0 0 2807 1604;" xml:space="preserve"><g><g><defs><rect id="SVGID_1_" width="2806.243" height="1603.568"/></defs><use xlink:href="%23SVGID_1_" style="overflow:visible;fill:%23FFFFFF;"/><clipPath id="SVGID_00000137819970927667285540000011021032849493166992_"><use xlink:href="%23SVGID_1_" style="overflow:visible;"/></clipPath><g style="clip-path:url(%23SVGID_00000137819970927667285540000011021032849493166992_);"><g><path style="fill:%23B3B3B3;" d="M3018.925,1813.772H-212.682V-210.203h3231.606V1813.772z M-208.505,1809.596h3223.254V-206.027H-208.505V1809.596z"/></g><g><rect x="-210.594" y="1708.606" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1607.614" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1506.624" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1405.634" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1304.645" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1203.655" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1102.665" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="1001.676" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="900.686" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="799.696" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="698.707" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="597.715" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="496.725" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="395.735" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="294.746" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="193.756" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="92.766" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="-8.223" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="-210.594" y="-109.213" style="fill:%23B3B3B3;" width="3227.43" height="4.176"/></g><g><rect x="2916.948" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2819.147" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2721.344" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2623.544" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2525.743" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2427.942" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2330.142" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2232.341" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2134.541" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="2036.74" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1938.94" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1841.136" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1743.336" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1645.535" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1547.734" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1449.934" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1352.133" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1254.333" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1156.532" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="1058.731" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="960.928" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="863.127" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="765.327" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="667.527" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="569.726" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="471.925" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="374.124" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="276.324" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="178.524" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="80.72" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="-17.08" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g><g><rect x="-114.881" y="-208.115" style="fill:%23B3B3B3;" width="4.176" height="2019.798"/></g></g></g></g></svg>');
  background-repeat: repeat;

  .footer-cta-wrapper {
    @apply bg-white p-8 bg-opacity-75 rounded-lg shadow-lg;
    box-shadow: 1px 1px 20px 38px rgba(255, 255, 255, 0.8);
  }
}

.featured-image-pattern {
  background-image: url('data:image/svg+xml,<svg width="1280" height="120" viewBox="0 0 1280 120" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-3 80C13.15 100 29.3 60 45.45 85C61.6 110 77.75 55 93.9 90C110.05 95 126.2 65 142.35 85C158.5 110 174.65 50 190.8 95C206.95 100 223.1 60 239.25 85C255.4 105 271.55 55 287.7 95C303.85 110 320 50 336.15 90C352.3 100 368.45 60 384.6 85C400.75 115 416.9 50 433.05 90C449.2 100 465.35 65 481.5 85C497.65 105 513.8 55 529.95 95C546.1 110 562.25 50 578.4 85C594.55 105 610.7 60 626.85 90C643 110 659.15 50 675.3 85C691.45 100 707.6 60 723.75 90C739.9 110 756.05 55 772.2 85C788.35 105 804.5 60 820.65 90C836.8 100 852.95 65 869.1 85C885.25 115 901.4 50 917.55 90C933.7 100 949.85 60 966 85C982.15 105 998.3 55 1014.45 90C1030.6 110 1046.75 50 1062.9 85C1079.05 95 1095.2 65 1111.35 85C1127.5 110 1143.65 50 1159.8 90C1175.95 100 1192.1 60 1208.25 85C1224.4 115 1240.55 55 1256.7 90C1272.85 105 1289 65 1289 65V120H-3V80Z" fill="white"/></svg>');
  background-repeat: repeat-x;
}
