<div class="border-2 bg-white border-black container mx-auto rounded-2xl footer-cta overflow-hidden  p-16 flex justify-center items-center flex-col text-center -mb-3 relative z-10">
	<div class="footer-cta-wrapper">
		<span class="text-5xl font-secondary">{{options.footer_cta.footer_cta_text ?? "Whether you’re planning a wedding, event, or a private party. "}}
			We help you book the perfect entertainment - with zero stress.</span>
		{% include './components/button.twig' with {
        button: options.footer_cta.button,
        classes: 'mt-8 w-fit mx-auto'
    } %}
	</div>
</div>
<footer class="bg-black pt-8 pb-6 relative flex flex-col items-center justify-center ">
	<div class="container mx-auto">
		<nav class="flex flex-col">
			<ul class="flex gap-8">
				{% for item in menus['main-menu'].items %}
					<li class="text-white opacity-70 hover:opacity-100">
						<a href="{{ item.url }}" class=" {{check_url_match(item.url) ?   'font-semibold' : 'font-normal opacity-65'}}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</footer>
